@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
header {
	padding: 2em 0;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	max-width: 80em;
	/*border: 2px solid;*/
	margin: auto;
}

.left {
	float: left;
	width: 45%;
	padding: 4em;
	margin-left: 20px;
}

.whatwedo {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	margin-top: 15%;
	width: 40%;
	display: block;
	line-height: 25px;
}
.intro {
	margin: 10% auto 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	float: left;
}
h2 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
	margin-left: 40px;
}

ul {
	font-size: 1em;
	padding-left: 1.25em;
	margin-left: 40px;
}

.hr3 {
	font-family: 'Fredericka the Great', cursive;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-decoration: none;
	color: #10943c;
    font-size: 2em;
}
.hr4 {
	color: black;
}
.hr5 {
	color: black;
}
div a {
	color: black;
	font-variant: small-caps;
	margin-right: 10px;
	padding: .1em;
	text-align: center;
}
nav a {
	float: right;
	color: black;
	font-variant: small-caps; 
	letter-spacing: .15em;
	margin-right:0px;
	padding: 1em .75em .75em .75em;
	text-decoration: none;
	margin-top: 20px;
}
nav a:hover {
  color: #F09907;
  font-weight: bolder;
}
a.shop {
	color: white;
	font-variant: small-caps; 
	letter-spacing:.25em;
	padding: .5em;
	border: 8px;
	text-align: center;
	text-decoration: none;
	background-color: #10943c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	font-weight: bolder;
}
a.shop:hover {
	color: #F09907;
	background-color: white;
	font-weight: boldest;
}
.IG {
	box-sizing: border-box;
	float: right;
	margin-left: 25px;
	margin-right: 50px;
	margin-bottom: 80px;
	margin-top: 80px;
	width: 45%;
	display: block;
	text-align: center;
}
.signup {
	box-sizing: border-box;
	width: 35%;
	color: white;
	padding: 4em 4em 4em 4em;
	float: left;
	text-align: center;
	line-height: 150%;
	margin-top: 180px;
	margin-right: 0px;
	margin-left: 150px;
	background-color: #F09907;
}
h3 {
	font-variant: small-caps;
	font-size: 100%;
	padding: .5em;
}
img {
	width: 25%;
	}
html {
  font-size: 16px;
}
@media only screen and (min-width: 1800px) {
	
	}
}
@media only screen and (max-width: 1300px) {
	nav a {
		float: none;
	}
@media only screen and (max-width: 1040px) {
	body {
		font-size: 16px;
	}
	.left {
		width: 50%;
		margin: auto;
	}
	h1 {
		margin-top: 40px;
	}
}
@media only screen and (max-width: 1360px) {
	.IG {
		float: none;
		width: auto;
	}
@media only screen and (max-width: 880px) {
	nav a {
		float: none;
		width: auto;
	}

	h1 {
		text-align: center;
	}
	body {
		font-size: 18px;
	}
@media only screen and (max-width: 480px) {
	.left {
		float: none;
		width: 80%;
	}
	}
}
}
}

}
